.nav__btns{
  position: absolute;
  display: inline-flex;
  align-items: center;
  column-gap: 1rem;
  top: 5rem;
  right: -40%;
  /* width: 100%; */
}

.header{
  width: 100%;
  background-color: #53524c;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: .4s; /*For animation dark mode*/
}

.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__img{
  width: 40px;
  margin-bottom: 12px;
}
.nav__logo,
.nav__toggle,
.nav__close{
  color: #e6e4dd;
}

.nav__logo{
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -1px;
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  transition: .3s;
}

.nav__logo-icon{
  font-size: 1.15rem;
  color: var(--first-color);
}

.nav__logo:hover{
  color: var(--first-color);
}

.nav__toggle{
  display: inline-flex;
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 767px){
  .nav__menu{
    position: fixed;
    /* background-color: red; */
    width: 80%;
    height: 100%;
    top: 0;
    right: -150%;
    /* box-shadow: -2px 0 4px hsla(var(--hue), 24%, 15%, .1); */
    padding: 4rem 0 0 3rem;
    border-radius: 1rem 0 0 1rem;
    transition: .3s;
    z-index: 3;
  }
}
.nav__close{
  font-size: 1.5rem;
  position: absolute;
  top: 4rem;
  /* right: 0rem; */
  /* right: -150%; */
  cursor: pointer;
  color: #e6e4dd;
}

.nav__list{
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  background-color: #53524c;
  padding: 2rem 4rem;
  border-radius: .4rem;
}

.nav__link{
  color: #e6e4dd;
  font-weight: var(--font-medium);
  transition: .3s;
}

.nav__link:hover{
  color: #e6e4dd;
}

/* Show menu */
.show-menu{
  right: -60%;
  /* top: 0; */
}

/* Change background header */
.scroll-header{
  box-shadow: 0 1px 4px hsla(var(--hue), 4%, 15%, .1);
}

/* Active link */
.active-link{
  position: relative;
  color: var(--first-color);
}

.active-link::after{
  content: '';
  position: absolute;
  bottom: -.5rem;
  left: 0;
  width: 50%;
  height: 2px;
  background-color: var(--first-color);
}


@media screen and (min-width:767px) {
  .nav-mobile{
    display: none;
  }
}